#portfolio {
    padding: 40px;
    margin: 0 auto;
}
.gallery-title
{
    font-size: 36px;
    color: #db584e;
    text-align: center;
    font-weight: 700;
    padding: 40px 20px 60px;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #db584e;
    border-radius: 5px;
    text-align: center;
    color: #db584e;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #db584e;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #db584e;

}
.btn-default:active .filter-button:active
{
    background-color: #db584e;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
